<div class="col-md-4" id="asta-card-{{ asta.pk }}">
    <div class="card mb-4 shadow-sm">
        <a href="{% url 'aste:dettaglio_asta' asta.pk %}">
            <!-- Contenitore che mantiene le proporzioni 4:3 -->
            <div class="ratio ratio-4x3">
                <!-- L'immagine si adatta al contenitore. Aggiungi object-fit-cover per un ritaglio perfetto -->
                <img src="{{ asta.immagine.url }}" class="card-img-top" alt="{{ asta.titolo }}" style="height: 225px; object-fit: cover;">
            </div>
        </a>

        <div class="card-body">
            <h5 class="card-title">{{ asta.titolo }}</h5>
            <p class="card-text">{{ asta.descrizione|truncatewords:15 }}</p>
            <p class="card-text"><small class="text-muted">Scade il: {{ asta.data_fine|date:"d M Y, H:i" }}</small></p>
                <p class="card-text" id="prezzo-asta-{{ asta.pk }}">
                    Prezzo attuale: <strong>€{{ asta.prezzo_attuale|floatformat:2 }}</strong>
                </p>
            
            
            {% with offerta_top=asta.offerte.first %}
                <div id="acquirente-info-{{ asta.pk }}">
                    {% if asta.stato == 'conclusa' %}
                        <p class="text-danger font-weight-bold">Asta Conclusa!</p>
                        {# Adesso controlliamo 'offerta_top' che funzionerà sempre #}
                        {% if offerta_top %}
                            <p><small>Vinta da: {{ offerta_top.acquirente.username }}</small></p>
                        {% else %}
                            <p><small>Nessuna offerta ricevuta.</small></p>
                        {% endif %}
                    
                    {% elif user.is_authenticated and asta.pk in aste_vincenti_utente %}
                        <p class="text-success font-weight-bold">Stai vincendo tu!</p>

                    {% elif offerta_top %}
                        <p><small>Ultima offerta di: {{ offerta_top.acquirente.username }}</small></p>
                    
                    {% endif %}
                </div>
            {% endwith %}

            <div class="d-flex justify-content-between align-items-center">
                <a href="{% url 'aste:dettaglio_asta' asta.pk %}" class="btn btn-primary">Vedi Dettagli</a>
                {% if user.is_authenticated and user.profile.ruolo == 'acquirente' %}
                    <button class="btn btn-sm btn-outline-danger desideri-btn" data-asta-id="{{ asta.pk }}">
                        {% if asta in user.lista_desideri.all %}♥{% else %}♡{% endif %}
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
