[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "==3.2"
channels = "==3.0"
channels-redis = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"


[dev-packages]

[requires]
python_version = "3.10"
